{% extends "layout.html" %}

{% block title %}Manage Student Progress{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex flex-row justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <!-- Home icon with link to trainers dashboard -->
            <a href="/trainer_dashboard" class="btn btn-outline-secondary me-3" title="Home">
                <i class="bi bi-house-door"></i>
            </a>
            <div class="d-flex flex-column">
                <h2 class="mb-0">Welcome back, {{ session['username'] }}!</h2>
                <h6 class="text-muted">Competency Management</h6>
            </div>
        </div>
        <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
    </div>
    <h1>Manage Student Progress</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Progress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.username }}</td>
                <td>{{ student.progress_percentage|round(2) }}%</td>
                <td>
                    <!-- Button to trigger modal for viewing and updating learning outcomes -->
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#learningOutcomesModal-{{ student.user_id }}">
                        View Details
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Include modals for each student for learning outcomes -->
{% for student in students %}
{% include 'modals/student_learning_outcomes_modal.html' %}
{% endfor %}

{% endblock %}